html {
    box-sizing:border-box;
}

body {
    margin:0;
}

header {
    position: relative;
    padding: 1rem;
}


nav ul{
    list-style-type:none;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}
nav a{text-decoration: none;}
.header_right{justify-content:flex-end;}
.header_logo{
    display: flex; justify-content: center;
    display: inline
}


main {margin: 1rem auto; width: 80%;}
main section {margin-top: 6rem;}

.home{background-color: black; color:white; font-size:150% ;}

.text{font-size: 115%;}
img.grass_pot {float: right;margin-left: 3rem;width: 40%;}
img.flower_pot {float:left; width:30%; margin-right: 3rem;}





footer {
    background-color: #bf7631;
}