html {
    box-sizing:border-box;
}

body {
    margin:0;
}

header {
    position: relative;
    padding: 1rem;
}

nav a {
    font-size: 30px;
    text-decoration: none;
}
nav ul {
    list-style-type: none;
    position: absolute;
    top: 0.7rem;
    right: 1rem;

}
nav li {
    display: inline;
    margin-right: 0.5rem;
}

main {
    margin: 1rem auto;
    width: 80%;
}

main section {
    margin-top: 6rem;
    padding: 2rem;
}

.about img {
    float: right;
    margin-left: 3rem;
    width: 400px;
}

footer {
    background-color: #bf7631;
}